.rn-menu {
	--padding:15px;

	padding-top:var(--padding);
	padding-bottom:var(--padding);
	height:calc(100vh - var(--padding) * 2);
	background:green;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
	animation:menu_background-inf-gram 10s ease-in-out infinite;
}

@keyframes menu_background-inf-gram {
	0% {
		background:lime;
	}
	25% {
		background:red;
	}
	50% {
		background:orange;
	}
	75% {
		background:rebeccapurple;
	}
	100% {
		background:lime;
	}
}

.rn-menu-fork {
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}

.rn-menu-fork-button {
    --padding:30px;
    --margin:5px;

    padding-left:var(--padding);
    padding-right:var(--padding);
    margin-top:var(--margin);
    margin-bottom:var(--margin);
    font-weight:600;
    font-family:"Quicksand";
    color:rgba(255, 255, 255, .85);
    font-family:"Exo";
    text-transform:uppercase;
    cursor:pointer;
    height:50px;
    font-size:1.05rem;
    width:100%;
    border-radius:2.5px;
    box-shadow:0px 0px 10px -2.5px rgba(0, 0, 0, .5);
    background:#333333;
}

.rn-menu-ps-creator,
.rn-menu-ps-creator > a {
    color:white;
}

.rn-menu-ps-creator {
    font-family:"Quicksand";
    font-weight:400;
}

.rn-menu-ps-creator > a {
    font-weight:500;
}